<!DOCTYPE html>
<html lang="zh-cmn-Hans-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>校车查询</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h3 class="text-center">
                    校车查询
                </h3>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="form-group">
                    <label>所在位置{{selected}}</label>
                    <select class="form-control" v-model="selected">
                        <option v-for="item in campus" :value="item.number">{{item.text}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h3 class="text-center">离下一班校车发车时间还有</h3>
                <h3 class="text-center">{{ train }}</h3>
                <p class="text-center">{{ stopOverSpecialStation }}</p>
                <!--<p class="text-center">假期及法定节假日不发车</p>
                <p class="text-center">考试周和特殊情况校车班次、时间将有所调整</p>
                <p class="text-center">具体情况请看学校安排</p>-->
                <ul style="padding-left: 10px;">
                    <li>假期及法定节假日不发车</li>
                    <li>考试周和特殊情况校车班次、时间将有所调整</li>
                    <li>具体情况请看学校安排</li>
                </ul>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">查看其它班次</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">

                                <ul>
                                    <li v-for="item in otherTrain" v-html="item"></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="panel-group" id="accordion2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center">
                                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">查看发车时间表</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <h4>周一至周五</h4>
                                <h5>{{campus[0].text}}->{{campus[1].text}}</h5>
                                <ul>
                                    <li v-for="item in timetable.mondayToFriday.centerToNorth">{{item.depart}}<span v-if="item.stopOverSpecialStation>0?true:false"> &nbsp;&nbsp; 经停{{specialStation[item.stopOverSpecialStation]}}</span></li>
                                </ul>
                                <h5>{{campus[1].text}}->{{campus[0].text}}</h5>
                                <ul>
                                    <li v-for="item in timetable.mondayToFriday.northToCenter">{{item.depart}}<span v-if="item.stopOverSpecialStation>0?true:false"> &nbsp;&nbsp; 经停{{specialStation[item.stopOverSpecialStation]}}</span></li>
                                </ul>
                                <h4>周六、日</h4>
                                <h5>{{campus[0].text}}->{{campus[1].text}}</h5>
                                <ul>
                                    <li v-for="item in timetable.Weekend.centerToNorth">{{item.depart}}<span v-if="item.stopOverSpecialStation>0?true:false"> &nbsp;&nbsp; 经停{{specialStation[item.stopOverSpecialStation]}}</span></li>
                                </ul>
                                <h5>{{campus[1].text}}->{{campus[0].text}}</h5>
                                <ul>
                                    <li v-for="item in timetable.Weekend.northToCenter">{{item.depart}}<span v-if="item.stopOverSpecialStation>0?true:false"> &nbsp;&nbsp; 经停{{specialStation[item.stopOverSpecialStation]}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="container">
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="navbar-inner navbar-content-center">
                    <p class="text-muted credit text-center" style="padding: 10px;" v-html="footer">

                    </p>
                </div>
            </nav>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
    <script>
        "use strict";
        var app = new Vue({
            el: '#app',
            data: {
                campus: [{ // 校区
                    number: 0,
                    text: "本部",
                }, {
                    number: 1,
                    text: "北院"
                }],
                specialStation: [null, "东海国际", "佛山大桥"], // 需要特别注明的经停车站
                timetable: { // 发车时间表
                    mondayToFriday: {
                        centerToNorth: [{
                            depart: "07:15",
                            stopOverSpecialStation: 1,
                        }, {
                            depart: "09:00",
                            stopOverSpecialStation: 0,
                        }, {
                            depart: "12:05",
                            stopOverSpecialStation: 0,
                        }, {
                            depart: "13:10",
                            stopOverSpecialStation: 0,
                        }, {
                            depart: "15:00",
                            stopOverSpecialStation: 0,
                        }, {
                            depart: "16:00",
                            stopOverSpecialStation: 0,
                        }, {
                            depart: "18:30",
                            stopOverSpecialStation: 0,
                        }],
                        northToCenter: [{
                            depart: "10:00",
                            stopOverSpecialStation: 0,
                        }, {
                            depart: "12:05",
                            stopOverSpecialStation: 0,
                        }, {
                            depart: "13:10",
                            stopOverSpecialStation: 0,
                        }, {
                            depart: "15:55",
                            stopOverSpecialStation: 0,
                        }, {
                            depart: "17:05",
                            stopOverSpecialStation: 2,
                        }, {
                            depart: "17:45",
                            stopOverSpecialStation: 2,
                        }, {
                            depart: "21:30",
                            stopOverSpecialStation: 0,
                        }],
                    },
                    Weekend: {
                        centerToNorth: [{
                            depart: "07:15",
                            stopOverSpecialStation: 1,
                        }, {
                            depart: "12:00",
                            stopOverSpecialStation: 0,
                        }, {
                            depart: "17:00",
                            stopOverSpecialStation: 0,
                        }, {
                            depart: "21:00",
                            stopOverSpecialStation: 0,
                        }],
                        northToCenter: [{
                            depart: "8:00",
                            stopOverSpecialStation: 0,
                        }, {
                            depart: "13:00",
                            stopOverSpecialStation: 0,
                        }, {
                            depart: "18:00",
                            stopOverSpecialStation: 2,
                        }, {
                            depart: "21:30",
                            stopOverSpecialStation: 0,
                        }],
                    },
                },
                selected: null,
                train: null,
                stopOverSpecialStation: null,
                otherTrain: [],
                footer: "白兰缘© " + new Date().getFullYear() + " All Rights Reserved",
            },
            methods: {
                selectCampus: function() {
                    let week = new Date().getDay(); // 获取星期
                    if (week === 0 || week === 6) { // 周末
                        if (this.selected === 0) { // 当前位置在本校
                            this.getTrain(this.timetable.Weekend.centerToNorth);
                        } else { // 当前位置在北院
                            this.getTrain(this.timetable.Weekend.northToCenter);
                        }
                    } else { // 周一至周五
                        if (this.selected === 0) { // 当前位置在本校
                            this.getTrain(this.timetable.mondayToFriday.centerToNorth);
                        } else { // 当前位置在北院
                            this.getTrain(this.timetable.mondayToFriday.northToCenter);
                        }
                    }
                },
                getTrain: function(timetableArray) {
                    let myDate = new Date();
                    let zeroPoint = new Date(new Date().toLocaleDateString()).getTime() / 1000; // 获取当天零点时间戳
                    let nowTimestamp = Math.round(myDate.getTime() / 1000); // 获取当前时间戳
                    let year = myDate.getFullYear(); // 获取当前年份
                    let month = myDate.getMonth(); // 获取当前月份
                    let day = myDate.getDate(); // 获取当前日
                    let week = myDate.getDay() // 获取星期
                        // console.log(timetableArray)
                    this.otherTrain = [];
                    for (let i = 0; i < timetableArray.length; i++) {
                        let timeArray = timetableArray[i].depart.split(":", 2); // 获取具体的发车时间 时 分
                        let tagTime = new Date(Date.UTC(year, month, day, timeArray[0] - 8, timeArray[1], 0));
                        tagTime = tagTime.getTime() / 1000;
                        let waitTime = tagTime - nowTimestamp;
                        if (waitTime >= 0) {
                            let waitHour;
                            let waitMinute;
                            let waitSecond;
                            waitSecond = waitTime % 60;
                            waitMinute = Math.round(waitTime / 60);
                            waitMinute = waitMinute % 60;
                            waitHour = Math.round((waitTime / 60) / 60);
                            if (this.otherTrain.length === 0) {
                                this.train = waitHour + " 小时 " + waitMinute + " 分钟 " + waitSecond + " 秒";
                                if (timetableArray[i].stopOverSpecialStation != 0) {
                                    this.stopOverSpecialStation = "此班车经停" + this.specialStation[timetableArray[i].stopOverSpecialStation];
                                } else {
                                    this.stopOverSpecialStation = "";
                                }
                            }
                            // let str = timetableArray[i].depart + "  " + waitHour + " 小时 " + waitMinute + " 分钟 " + waitSecond + " 秒";
                            let str = timetableArray[i].depart + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + waitHour + " 小时 " + waitMinute + " 分钟 ";
                            if (timetableArray[i].stopOverSpecialStation != 0) {
                                str += " \<br\/\> 此班车经停" + this.specialStation[timetableArray[i].stopOverSpecialStation];
                            }
                            this.otherTrain.push(str);
                        }
                    }
                    if (this.otherTrain.length === 0) {
                        this.train = "今天已无班次";
                    }
                    // this.train = this.otherTrain[0];

                },
            },
            watch: {
                'selected': 'selectCampus',
            }
        })
    </script>
</body>

</html>